# The provider for the AI models to use.
MODEL_PROVIDER=openai

# The name of LLM model to use.
MODEL=gpt-3.5-turbo

# The OpenAI API key to use.
OPENAI_API_KEY=

# The address to start the backend app.
APP_HOST=0.0.0.0

# The port to start the backend app.
APP_PORT=8000

# Environment to use.
ENVIRONMENT=dev

# System prompt to use for code generation.
CODE_GENERATION_SYSTEM_PROMPT="Your task is to generate the frontend to be able to use a smart contract. You can use any amount of HTML, CSS and JavaScript."

MAX_CALLS_PER_MINUTE=1