body {
  background-color: rgb(15, 15, 15);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.editor-tool {
  background-color: #1b1b1b;
  border: 2px solid #4c4c4c;
  padding: 10px 20px 10px 20px;
  margin: 40px auto;
  border-radius: 14px;
  height: 40px;
  width: 30%;
}

.file-navbar {
  width: 100%;
  margin-left: 0px;
  border-bottom: 1px solid #303030;
}

.file-navbar ul {
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 0px;
  margin-bottom: 10px;
}

.file-navbar ul li {
  display: inline-block;
  background-color: #262626;
  margin-right: 20px;
  color: #afafaf;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.preview-area-group {
  width: 100%;
  display: inline-block;
  border-left: 1px solid #303030;
}

editor-area {
  padding-left: 0px;
  padding-top: 20px;
  background: #0f0f0f;
}

.editor-area-group {
  width: 100%;
  min-width: 100px;
  display: inline-block;
}

.editor-area>section {
  background: #0f0f0f;
}

.editor-area>section>.editor-wrapper,
.editor-area>section>.editor-wrapper>.monaco-editor,
.editor-area>section>.editor-wrapper>.monaco-editor>.overflow-guard,
.editor-area>section>.editor-wrapper>.monaco-editor>.overflow-guard>div,
.editor-area>section>.editor-wrapper>.monaco-editor>.overflow-guard>div>.monaco-editor-background {
  background: #0f0f0f;
}

.editor-wrapper {
  overflow: hidden;
}

.editor-layers {
  background-color: #1f1f1f;
  display: inline-block;
  width: 10%;
  min-width: 300px;
  height: 100vh;
  border-right: 1px solid #303030;
  color: #fff;
}

.editor {
  display: flex;
}

.editor-group {
  background-color: #1f1f1f;
}

.editor-actions {
  padding: 0px;
  margin: 0px 0px 10px 0px;
  padding: 11px 0px 11px 0px;
  border-bottom: 1px solid #303030;
}

.editor-actions li {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.editor-tree {
  margin: 0px;
  padding: 0px;
}

.editor-play-button img {
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 0px;
  filter: invert(1);
  cursor: pointer;
}

.editor-play-button img:hover {
  filter: invert(0.3);
}

.editor-home-button img {
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 0px;
  filter: invert(1);
  cursor: pointer;
}

.editor-home-button img:hover {
  filter: invert(0.3);
}

.editor-settings-button img {
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 0px;
  filter: invert(1);
  cursor: pointer;
}

.editor-settings-button img:hover {
  filter: invert(0.3);
}

.active-file {
  border-bottom: 1px solid #FDC740;
}

.preview-area-group h3 {
  color: #fff;
  font-weight: 100;
  font-size: 16px;
  padding: 0px;
  margin: 15px 0px 16px 20px;
}

.preview-area-group-header {
  border-bottom: 1px solid #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the spacing as needed */
}

.right {
  margin-left: auto;
  margin-right: 10px;
}

.preview-background-color-pallet .pallet1 {
  background: rgb(217, 182, 152);
  background: linear-gradient(117deg, rgb(247, 194, 95) 0%, rgb(160, 80, 80) 100%);
}

.preview-background-color-pallet .pallet2 {
  background: rgb(217, 152, 181);
  background: linear-gradient(117deg, rgba(217, 152, 181, 1) 0%, rgba(104, 80, 160, 1) 100%);
}

.preview-background-color-pallet .pallet3 {
  background: #FFBE7B;
  background: linear-gradient(117deg, #FFBE7B 0%, #FE8CC5 100%);
}

.preview-background-color-pallet .pallet4 {
  background: rgb(144, 230, 168);
  background: linear-gradient(117deg, rgb(144, 230, 168) 0%, rgb(61, 180, 128) 100%);
}

.preview-background-color-pallet .pallet5 {
  background: rgb(3, 3, 3);
}

.preview-background-color-pallet .pallet6 {
  background: rgb(255, 255, 255);
}

.preview-background-color-pallet .pallet7 {
  background: rgb(247, 80, 115);
  background: linear-gradient(117deg, rgb(247, 80, 115) 0%, rgb(237, 9, 139) 100%);
}

.preview-background-color-pallet .pallet8 {
  background: rgb(171, 154, 254);
  background: linear-gradient(117deg, rgb(171, 154, 254) 0%, rgb(235, 191, 249) 100%);
}

.preview-background-color-pallet .pallet9 {
  background: rgb(130, 179, 235);
  background: linear-gradient(117deg, rgb(130, 179, 235) 0%, rgb(81, 83, 161) 100%);
}

.top-bar {
  height: 1px;
}

.preview-area-output {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.preview-upload-button {
  display: flex;
  right: 330px;
  top: -2px;
  background: transparent;
  border: 1px solid #898989;
  color: #898989;
  padding: 4px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.preview-export-button {
  display: flex;
  right: 240px;
  top: -2px;
  background: #FDC740;
  border: 1px solid #FDC740;
  color: #000;
  padding: 4px 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.preview-area-output.pallet1 {
  background: rgb(217, 182, 152);
  background: linear-gradient(117deg, rgb(247, 194, 95) 0%, rgb(160, 80, 80) 100%);
}

.preview-area-output.pallet2 {
  background: rgb(217, 152, 181);
  background: linear-gradient(117deg, rgba(217, 152, 181, 1) 0%, rgba(104, 80, 160, 1) 100%);
}

.preview-area-output.pallet3 {
  background: #FFBE7B;
  background: linear-gradient(117deg, #FFBE7B 0%, #FE8CC5 100%);
}

.preview-area-output.pallet4 {
  background: rgb(144, 230, 168);
  background: linear-gradient(117deg, rgb(144, 230, 168) 0%, rgb(61, 180, 128) 100%);
}

.preview-area-output.pallet5 {
  background: rgb(3, 3, 3);
}

.preview-area-output.pallet6 {
  background: rgb(255, 255, 255);
}

.preview-area-output.pallet7 {
  background: rgb(247, 80, 115);
  background: linear-gradient(117deg, rgb(247, 80, 115) 0%, rgb(237, 9, 139) 100%);
}

.preview-area-output.pallet8 {
  background: rgb(171, 154, 254);
  background: linear-gradient(117deg, rgb(171, 154, 254) 0%, rgb(235, 191, 249) 100%);
}

.preview-area-output.pallet9 {
  background: rgb(130, 179, 235);
  background: linear-gradient(117deg, rgb(130, 179, 235) 0%, rgb(81, 83, 161) 100%);
}

.editor-file-nav {
  width: 100%;
  min-width: 100px;
  display: flex
}

.navigation-tree-footer {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 40px);
  background-color: #FDC740;
  padding: 10px 20px;
  color: #000;
}

.navigation-tree-footer ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.navigation-tree-footer ul li {
  display: inline-block;
  font-size: 12px;
}

.console-output {
  height: 10vh;
  color: #fff;
}

.console-output pre {
  padding: 10px;
  overflow: scroll;
      height: 100%;
}

.console-output h3 {
  font-size: 14px;
  border-bottom: 1px solid #303030;
  padding: 15px 10px;
  margin: 0px;
  ;
}

iframe {
  border: 0px;
}

.editor-tree ul {
  list-style: none;
  margin-top: 0px;
  padding-left: 0px;
}

.editor-tree>ul>li {
  margin-bottom: 10px;
}

.editor-tree>ul>li>span {
  font-weight: bold;
    font-size: 14px;
    padding: 10px !important;
    display: block;
}

.editor-tree ul li {
  cursor: pointer;
  background: #303030;
  padding: 10px 0px 10px 10px;
  margin-bottom: 6px;
}
.no-module-message{
  text-align: center;
  width: 100%;
  padding-top: 40vh;
  color: #fff;
}
.no-module-message button{
  border:0px;
  background-color: #FDC740;
  color: #000;
  padding: 8px 16px;
  font-weight: 100;
  border-radius: 6px;
  font-size: 16px;
}
.no-module-message h2{
  font-weight: 100;
}
/* Modal Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

/* Modal Content */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  background: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  width: 80%;
  max-width: 500px;
  box-sizing: border-box;
}

/* Form Styles */
.modal form {
  display: flex;
  flex-direction: column;
}

/* Form Labels */
.modal form label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}

/* Form Inputs */
.modal form input[type="text"],
.modal form input[type="file"] {
  display: block;
  margin-top: 5px;
  width: -webkit-fill-available;
  padding: 10px;
  background: #1f1f1f;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
}

/* Form Buttons */
.modal form button {
  margin-top: 15px;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal form button[type="submit"] {
  background-color: #FDC740;
  color: #000;
}

.modal form button[type="button"] {
  background-color: #6c757d;
  color: white;
}

.modal form button:hover {
  opacity: 0.8;
}

.modal-buttons{
  display: flex;
  justify-content: space-between;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-top-0{
  margin-top: 0px;
}
.sub-menu{
  margin-top: 5px!important;
}
.sub-menu li{
  padding: 3px 0px 3px 10px!important;
  margin:0px!important;
  font-size: 14px;
}

@media screen and (max-width: 1430px) {
  .preview-background-color-pallet {
   display: none;
  }
  .preview-export-button{
    right: 10px;
  }
  .preview-upload-button{
    right: 110px;
  }
}

@media screen and (max-width: 1000px) {
  .preview-export-button{
   display: none;
  }
  .preview-upload-button{
    display: none;
  }
  .preview-area-group{
    display: none;
  }
}